nav{
box-shadow: 1px 1px 2px rgb(199, 198, 198);
}

.btn1 {
    width: 120px;
    height: 55px;
    background-color: rgb(13, 109, 183);
    color: white;
    /* font-size: 0.8rem; */
}

.btn2 {
    width: 120px;
    height: 55px;
    background-color: rgb(141, 198, 63);
    color: white;
    margin-left: 35px;
}

.wrap1 {
    width: 50px;
    height: 40px;
    word-wrap: break-word;
    /* border: 1px solid red; */
}

.wrap2 {
    width: 60px;
    height: 40px;
    word-wrap: break-word;
    margin-left: 0px;
    /* border: 1px solid red; */
}

.wrap3 {
    width: 70px;
    height: 40px;
    word-wrap: break-word;
    /* border: 1px solid red; */
}

.wrap4 {
    width: 70px;
    height: 40px;
    word-wrap: break-word;
    /* border: 1px solid red; */
}

.text {
    margin-top: 120px;
}

.explorer {
    width: 170px;
    height: 50px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
}

div>img.img {
    width: 100%;
    height: 100%;
}

div input {
    width: 150px;
    height: 50px;
}

.extra {
    background-color: rgb(63, 62, 62);
    height: 50px;
    width: 70px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: white;
    padding-top: 12px;
}

.extra2 {
    background-color: rgb(63, 62, 62);
    height: 50px;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    color: white;
    padding-top: 12px;
}

.input {
    display: flex;
}

.quickdonate {
width: 180px;
height: 50px;
margin-top: 17px;
}

.quickdonate button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
background-color: rgb(113, 165, 36);
color: white;
border: none;
}

.bloodbank {
width: 350px;
height: 50px;
}

.bloodbank button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
background-color: white;
border: none;
}

.height {
    height: 200px;
    background-color: rgba(172, 255, 47, 0.233);
}

.kifalat{
    width: 170px;
    height: 50px;
}
.kifalat button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
background-color: white;
border: none;
}

.medical{
    width: 140px;
    height: 50px;
    margin-left: -2%;
}
.medical button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
background-color: white;
border: none;
}

.food{
    width: 120px;
    height: 50px;
    margin-left: -2%;
}
.food button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
background-color: white;
border: none;
}

.padding {
    padding-top: 50px;
}

.smallcards{
    margin-bottom: 10px;
}

.card1 {
    background-color:rgba(172, 255, 47, 0.233) ;
    border-radius: 10px;
    width: 167px;
    height: 150px;
    text-align: center;
}

.card2,.card3,.card4,.card5,.card6 {
    background-color:rgba(172, 255, 47, 0.233) ;
    border-radius: 10px;
    width: 167px;
    height: 150px;
    text-align: center;
    margin-left: 20px;
}

.largecards{
    width:375px ;
    height:280px ;
    margin: 35px 0;
    position: relative;
    cursor: pointer;
}

.largecardbtn{
    width: 340px;
    height: 40px;
    background-color: rgb(141, 198, 63);
    color: white;
    border-radius: 5px;
    border: none;
}

.project1{
    position: relative; 
    width: 50%; 
    height: 500px;
}

.projec1tbox{
    position: absolute; 
    top: 0%; 
    left: 5px;
    margin-left: 6px; 
    background-color:rgb(141, 198, 63); 
    word-wrap: break-word;
    color: white; 
    width: 270px; 
    height: 210px; 
    border-top-left-radius: 50px;
}

.project2{
    width: 50%; 
}

.figurecontainer{
    background-image: url(images/background\ lue.jpg); 
    background-repeat:no-repeat;
    background-size: cover;
    height: 400px;
    margin-bottom: 50px;
}

.figures1{
    border-radius: 50%;
    background-color: white;
    width: 120px;
    height: 120px; 
    margin-left: 7%; 
    margin-top: 100px;
    margin-right: 10%;
}

.figures2{
    border-radius: 50%;
    background-color: white; 
    width: 120px;
    height: 120px; 
    margin-top: 100px;
    margin-right: 15%;
    margin-left: 5%;
}

.figures3{
    border-radius: 50%;
    background-color: white; 
    width: 120px;
    height: 120px; 
    margin-top: 100px;
    margin-right: 15%;
}

.testimonials{
    width: 1000px; 
    margin-left: -450px;
}

.accaimg{
    margin-left: 37%;
}

/* Media Query */

@media screen and (min-width: 1200px) {

    .largecards{
        width:33% ;
        height:280px ;
        margin: 35px 0;
        position: relative;
        cursor: pointer;
    }
    .card1 {
        background-color:rgba(172, 255, 47, 0.233) ;
        border-radius: 10px;
        width: 16%;
        height: 150px;
        text-align: center;
    }
    
    .card2,.card3,.card4,.card5,.card6 {
        background-color:rgba(172, 255, 47, 0.233) ;
        border-radius: 10px;
        width: 15%;
        height: 150px;
        text-align: center;
        margin-left: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .card2,.card3,.card4,.card5,.card6{
margin-left: 5px;
width: 155px;
    }
    .card1{
        width: 155px;
    }
    .largecards{
        width: 300px;
    }
    .largecardbtn{
        width: 265px;
    }
    .largcardcontainer{
        margin-left: 2%;
    }
    .figures1{
        margin-left: 7%; 
        margin-right: 8%;
    }
    .figures2{
        margin-right: 12.5%;
        margin-left: 5%;
    }
    .figures3{
        margin-right: 12.5%;
    }
    .testimonials{
        width: 850px; 
        margin-left: -385px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .email{

    }
    .introimg{
        height: 70%;
        margin-top: 10%;
    }
    .text{
        margin-top: 5%;
    }
    .input{
        width: 100%;
        margin-top: -4%;
    }
    .extra{
margin-left: 4%;
    }
    .extra3{
        width: 75%;
        margin-bottom: 1.5%;
    }
    .extra3 input{
        width: 100%;
    }
    .bloodbank{
        margin-left:8% ;
        width: 280px;
    }
    .kifalat{
        margin-left:8% ;
    }
    .medical{
        margin-left: ;
    }
    .food{
        margin-left: ;
    }
    .quickdonate{
        margin-left: 10%;
    }
    .card1,.card2,.card3,.card4,.card5,.card6{
        margin-left: 7.5%;
        margin-top: 2%;
    }
    .largecards{
        width: 50%;
    }
    .largecardbtn{
        width: 323px;
    }
    .project1,.project2{
        width: 100%;
    }
    .project2{
        margin-top: 5%;
    }
    .projec1tbox{
        width: 50%; 
        height: 50%; 
        padding-top: 50px;
    }
    .figures1{
        margin-left: 4%; 
        margin-right: 8%;
    }
    .figures2{
        margin-right: 8%;
        margin-left: 0%;
    }
    .figures3{
        margin-right: 8%;
    }
    .testimonials{
        width: 600px; 
        margin-left: -250px;
    }
    .socialaccounts{
        width: 15%;
        height: 12%;
    }
    .accaimg{
        margin-left: 30%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .email{

    }
    .introimg{
        height: 70%;
        margin-top: 10%;
    }
    .text{
        margin-top: 5%;
    }
    .textsize{
        font-size: medium;
    }
    .textsize2{
        font-size: 0.8em;
    }
    .input{
        width: 95%;
        margin-top: -4%;
    }
    .extra{
        margin-left: 5%;
    }
    .extra3{
        width: 75%;
        margin-bottom: 1.5%;
    }
    .extra3 input{
        width: 100%;
    }
    .bloodbank{
        margin-left:14% ;
        width: 280px;
    }
    .kifalat{
        margin-left:25% ;
        width: 200px;
    }

    .maindetail{
        position: relative;
    }
    .medical{
        position: absolute;
        bottom: -42%;
        left: 6%;
    }
    .food{
        position: absolute;
        bottom: -42%;
        left: 34%;
    }
    .quickdonate{
        position: absolute;
        bottom: -42%;
        left: 59%;
    }
        .card1{
            margin-left: 0%;
            margin-top: 2%;
            width: 100%;
        }
        .card2,.card3,.card4,.card5,.card6{
            margin-top: 2%;
            width: 100%;
            margin-left: 0%;
        }
        .largecards{
            width: 100%;
            margin-left: 0%;
        }
        .largecardbtn{
            width: 505px;
        }
        .project1,.project2{
            width: 100%;
            margin-left: 0%;
        }
        .projec1tbox{
            width: 50%; 
            height: 42%; 
        }
        .figures1{
            margin-left: 7%; 
            margin-right: 2%;
        }
        .figures2{
            margin-right: 7%;
            margin-left: 5%;
        }
        .figures3{
            margin-right: 12%;
        }
        .figures4{
            position: absolute;
            bottom: 25%;
            left: 38%;
        }
        .figurecontainer{
            background-image: url(images/background\ lue.jpg); 
            background-repeat:no-repeat;
            background-size: cover;
            height: 700px;
            margin-bottom: 50px;
            position: relative;
        }
        .testimonials{
            width: 450px; 
            margin-left: -195px;
        }
        .socialaccounts{
            width: 12%;
            height: 9%;
        }
        .accaimg{
            margin-left: 22%;
        }
    }

@media screen and (max-width: 575px) {
    .email{

    }
    .introimg{
        height: 70%;
        margin-top: 10%;
        display: none;
    }
    .text{
        margin-top: 5%;
    }
    .textsize{
        font-size: medium;
    }
    .textsize2{
        font-size: 0.8em;
    }
    .input{
        width: 95%;
        margin-top: -4%;
    }
    .extra{
        margin-left: 5%;
    }
    .extra3{
        width: 75%;
        margin-bottom: 1.5%;
    }
    .extra3 input{
        width: 100%;
    }
    .bloodbank{
        margin-left:14% ;
        width: 280px;
    }
    .kifalat{
        margin-left:25% ;
        width: 200px;
    }

    .maindetail{
        position: relative;
    }
    .medical{
        position: absolute;
        bottom: -42%;
        left: 6%;
    }
    .food{
        position: absolute;
        bottom: -42%;
        left: 34%;
    }
    .quickdonate{
        position: absolute;
        bottom: -42%;
        left: 59%;
    }
        .card1{
            margin-left: 0%;
            margin-top: 2%;
            width: 100%;
        }
        .card2,.card3,.card4,.card5,.card6{
            margin-top: 2%;
            width: 100%;
            margin-left: 0%;
        }
        .largecards{
            width: 100%;
            margin-left: 0%;
        }
        .largecardbtn{
            width: 505px;
        }
        .project1,.project2{
            width: 100%;
            margin-left: 0%;
        }
        .projec1tbox{
            width: 50%; 
            height: 42%; 
        }
        .figures1{
            margin-left: 18%; 
            margin-right: 13%;
        }
        .figures2{
            margin-right: 7%;
            margin-left: 5%;
        }
        .figures3{
            position: absolute;
            bottom: 25%;
            left: 18%;
        }
        .figures4{
            position: absolute;
            bottom: 25%;
            left: 57%;
        }
        .figurecontainer{
            background-image: url(images/background\ lue.jpg); 
            background-repeat:no-repeat;
            background-size: cover;
            height: 700px;
            margin-bottom: 50px;
            position: relative;
        }
        .testimonials{
            width: 350px; 
            margin-left: -160px;
            font-size: small;
        }
        .socialaccounts{
            width: 12%;
            height: 9%;
        }
        .accaimg{
            margin-left: 22%;
        }
    }